html {
  padding: 0;
  height: 100%;
  background-color: #5c7f8d;
}

.App {
  text-align: center;
  height: 100%;
}

.App-body {

  background-color: #5c7f8d; 
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  /* color: white; */
}

#primary-search-account-menu-mobile {
  display: none;
}
