.right-block{
    float: right;
    width: 70%;
    height: 600px;
    background-color: #305360;
}

.left-block{
    color: #000;
    overflow: auto;    
    background-color: #8BAEBD;
    float: right; 
    width: 30%;
    
    height: 600px;
    box-shadow: 200px 0px 150px 250px #8BAEBD;
}

.MuiPaper-rounded {
    border-radius: 0px;
}

.MuiPaper-root {
    background-color: none;
}

@media only screen and (max-width: 1700px) {
  .left-block {
    height: 650px;
  }

  .right-block {
    height: 650px;
  }
  
}

@media only screen and (max-width: 1400px) {
  .left-block {
    height: 700px;
  }

  .right-block {
    height: 700px;
  }
  
}


@media only screen and (max-width: 1370px) {
  .left-block {
    height: 700px;
  }

  .right-block {
    height: 700px;
  }
  
}

@media only screen and (max-width: 1300px) {
    .left-block {
      float: none;
      width: 100%;
      padding-top: 20px;
      height: 600px; 
      box-shadow: none;
    }
    .right-block {
        float: none;
        width: 100%;
        box-shadow: none;
        height: 600px; 
    }

  }

@media only screen and (max-width: 800px) {
    .left-block {
      float: none;
      width: 100%;
      padding-top: 20px;
      /* padding-left: 0px;
      padding-right: 30px; */
      /* height: 500px; */
      text-align: center;
      box-shadow: none;
    }
    .right-block {
        float: none;
        max-width: 100%;
        box-shadow: none;
    }
    p {
        padding-left: none;
    }

  }

  @media only screen and (max-width: 500px) {
    .left-block {
       height: 650px; 
    }
  }

  @media only screen and (max-width: 410px) {
    .left-block {
      height: 850px;
    }
  }