a {
  color: #fff;
  text-decoration: none;
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

/* .makeStyles-sectionDesktop-8 > * {
  top: 50%;
} */

.logo-desk {
  display: flex;
  align-items: center;
  font-size: smaller;
  white-space: nowrap;
}

.navLogo {
  width: 30px;
}

.navMenu > * {
  margin-right: 20px;
  font-size: 20px;
}

.MuiAvatar-root {
  width: 30px !important;
  height: 30px !important;
}

.MuiAppBar-colorPrimary {
  background-color: #305360;
}
.MuiInput-underline {
  display: none;
}
.MuiInput-underline:before {
  display: none;
}

.MuiInput-underline:after {
  display: none;
}

label + .MuiInput-formControl {
  margin-top: 0 !important;
}

.searchIcon {
  position: absolute !important;
  right: -25px;
  top: -3px;
}
