a {
  color: #Fff;
  text-decoration: none;
}

.makeStyles-sectionDesktop-8 > * {
  top: 50%;
}

.navMenu {
  display: flex;
  align-items: center;
  
}

.navMenu > * {
  margin-right: 20px;
  font-size: 20px;
}

.MuiAvatar-root {
  width: 30px !important;
  height: 30px !important;
}

.MuiAppBar-colorPrimary {
  background-color: #305360;
}
.MuiInput-underline {
  display: none;
}
.MuiInput-underline:before {
  display: none;
}

.MuiInput-underline:after {
  display: none;
}